#cookie-table {
  border: 1px solid black;
  background-color: #FFFFE0;
}

td {
  border: 1px solid black;
}

body {
  background-color: #BDA0CB;
  font-family: monospace;
}

.cookieTotal {
  color: red;
}
