#cookie-table {
  margin-top: 30px;
  color: #FFF68F;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 6px dotted #FFFFE0;
  padding: 5px 5px 5px 5px;
  background-color: #6B238E;
}

fieldset {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

th {
  color: white;
  font-family: "Fira Sans Extra Condensed"
}

td {
  border: 1px solid black;
  font-size: 20px;
}

.cookieTotal {
  color: red;
}

body {
  background-color: #BF5FFF;
  font-family: "Open Sans Condensed";
  color: 	#FFFF99;
  font-size: 16px;
}

p {
  font-size: 16px;
}

.salmon {
  width: 20%;
  height: 20%;
  margin-left: 20px;
}

#title {
  font-family: "Bungee Shade", cursive;
  font-size: 5em;
  margin-bottom: 10px;
  color: #6B238E;
}

#header {
  text-align: center;
  border: 6px dotted #FFFFE0;
  padding: 5px 5px 5px 5px;
  background-color: #FFF68F	;
  margin-left: 100px;
  margin-right: 100px;
}

#hours {
  width: 200px;
  margin-left: 15%;
  margin-right: 10px;
}

#totals-link {
  background-color: #FFF68F;
  padding: 0px 0px 0px 0px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  border: 4px dashed white;
  color: #6B238E;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: "Bungee Shade";
}

a {
color: white;
text-decoration: none;
}
